<!--
<!DOCTYPE html>
<html>
<head>
	<title>My LM Predictor</title>
</head>
<body>
 <p><p>hello there! {{ value }}</p></p>
</body>
</html>-->

<!DOCTYPE html>
<html>
<head>
 <title>Text Generator</title>
</head>
<body>
 <h2>Text Generator</h2>
 <form method ="post" enctype="multipart/form-data">
  <p>Enter your starting text here: 
  <input type="text" name="text">
	 </p>
  <br>
  <p># of predictions: 
  <input type="number" name="n">
  </p>
	 
  <br>
  <input type="submit" value="submit">
</form>
</body>
</html>
